body{
font-family: Arial, sans-serif;
background:#f4f4f4;
}

.container{
max-width:500px;
margin:auto;
background:#fff;
padding:20px;
border-radius:10px;
}

.logo{
width:120px;
display:block;
margin:auto;
}

input, select, textarea, button{
width:100%;
padding:8px;
margin:6px 0;
}

.rating input{
width:auto;
}

.teacherBlock{
border:1px solid #ccc;
padding:10px;
margin-top:10px;
border-radius:8px;
background:#fafafa;
}

button{
background:black;
color:white;
border:none;
padding:10px;
font-size:16px;
cursor:pointer;
}

.credit{
text-align:center;
margin-top:20px;
font-size:14px;
}
